 <ion-content>
   <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Contatos
                </a>
                 <!-- New Task button-->
        
            </div>
        </div>
    </nav>
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="Pesquisar" placeholder="Pesquisar" ng-model="searchQuery"></input>
        </label>
          <ul ng-repeat="(key, value) in contacts | groupBy: 'firstLetter'">
   <div class="letra-contato"> {{ key }}</div>
  <li ng-repeat="contact in value">
     <img class="rosto" ng-src="{{contact.imgUrl }}" height="100px"/>

    <div ng-style="font-size:16px;"> {{ contact.name }} </div>

  </li>
</ul>
          


  <ion-content>
  